.MagicBookEditor {
  margin-left: 40px;
  margin-top: 20px;
}

.MagicBookEditor h1 {
  outline: none;
  margin-top: 0.5em;
  margin-bottom: 0.4em;
}

.MagicBookEditor h1::selection, .MagicBookEditor .Editor::selection {
  background: #fff1ad;
}

.MagicBookEditor .saveState, .MagicBookEditor button {
  color: #cecdcd;
  font-size: 0.9em;
}

 .MagicBookEditor button {
   font-family: "Helvetica Neue", Helvetica, sans-serif;
   background: none;
   border: none;
   margin-left: 10px;
   outline: none;
 }

.Editor {
  line-height: 1.3em;
  font-size: 1.1em;
}

.Editor .paragraph {
  margin: 14px 0;
}
