.MagicBookEditor {
  margin-left: 20px;
}

.MagicBookEditor .Editor {
  line-height: 1.3em;
  font-size: 1.1em;
}

.MagicBookEditor h1 {
  outline: none;
}

.MagicBookEditor h1::selection, .MagicBookEditor .Editor::selection {
  background: #fff1ad;
}
